@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');
body{
  padding: 10px;
}
.guess {
  margin: 5px;
  width: 50px;
  height: 50px;
  caret-color: transparent;
  /* pointer-events: none; */
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #808080;
  font-size: 25px;
}
.heading{
  font-family: 'Cuprum';
  text-align: center;
}
#hiddenTile {
  height: 0px;
  width: 0px;
  border: 0px white;
}

table {
  margin: auto;
}

input[type="text"][disabled] {
  background: inherit;
}

.right{
  background-color: #538d4e !important;
  border: none;
  color: white;
}

.wrong{
  background-color: #939598 !important;
  border: none;
  color: white;
}

.exists{
  background-color: #c9b458 !important;
  border: none;
  color: white;
}

input:focus {
  border: 5px solid black;
  border: none;
  color: white;
}

.message{
  max-width: 300px;
  width: fit-content;
  margin: auto;
}
  
.letter{
  border:none;
  background-color: #c9c9c9;
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 5px;
}
 
.enter, .delete{
  width: 75px;
  border:none;
  background-color: #c9c9c9;  height: 45px;
  margin: 5px;
  border-radius: 5px;
}
svg{
  width: 45px;
}
.rowCenter{
  margin-left: 20px;
}

.keyboard{
  text-align: center;
}
@media only screen and (max-width: 625px) {
  .letter {
    width: 7.75%;
    margin: 2px !important;
  }
  .enter, .delete{
    width: 13%;
  }
  body{
    padding: 0px;
    padding-top: 10px;
  }
}

#textMessage{
  display: none;
}

#hiddenTile:focus, #hiddenTile{
  border:none;
  background-color: inherit;
}

#form{
  margin: auto;
}

*{
  box-sizing:border-box;           /* easier box-model calculations */
  -webkit-box-sizing: border-box;
}

textarea {
  /* position: fixed; */
  /* left:; top:10px; */
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width:  calc(10vw - -360px);       calc and viewport to the rescue
  height: calc(100vh - 500px);
  resize: none; */
  width: 100%;
}