@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');.guess {
  margin: 5px;
  width: 50px;
  height: 50px;
  caret-color: transparent;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #808080;
  font-size: 25px;
}
.heading{
  font-family: 'Cuprum';
  margin: auto !important;
}
#hiddenTile {
  height: 0px;
  width: 0px;
  border: 0px white;
}

table {
  margin: auto;
}

input[type="text"][disabled] {
  background: inherit;
}

.right{
  background-color: #538d4e !important;
  border: none;
  color: white;
}

.wrong{
  background-color: #939598 !important;
  border: none;
  color: white;
}

.exists{
  background-color: #c9b458 !important;
  border: none;
  color: white;
}

input:focus {
  border: 5px solid black;
  border: none;
  color: white;
}

.message{
  max-width: 300px;
  width: fit-content;
  margin: auto;
}
  

  